$border-color: #848486;
$background-color: #FFF;
$title-color: #08080D;
$icon-width: 14px;
$icon-height: 10px;

.collapse-wrapper {
  background-color: $background-color;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  height: 40px;
  overflow: hidden;
  transition: height 300ms linear;
  width: 400px;

  .title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .title {
      color: $title-color;
      font-size: 14px;
      font-weight: 800;
      line-height: 18px;
      padding: 10px 0;
    }

    .icon {
      align-self: center;
      height: $icon-height;
      margin: 2px;
      position: relative;
      transition: transform 300ms linear;
      width: $icon-width;

      &::before,
      &::after {
        border: $icon-width/2 solid transparent;
        content: "";
        display: block;
        position: absolute;
      }

      &::before {
        border-top-color: $border-color;
        top: 0;
      }

      &::after {
        border-top-color: $background-color;
        top: -3px;
      }
    }

    .icon-clicked {
      transform: rotate(180deg) translateY($icon-height/2);
    }
  }

  .text {
    padding: 10px 0;
  }
}

.collapse-open {
  height: 160px;
}
