@import 'variables/sizes';

* {
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.content {
  display: flex;
  height: 100%;
  overflow: auto;
  width: 100%;
}