@import 'variables/sizes';
@import 'variables/colors';

.sidebar {
  background-color: $grey;
  height: 100%;
  padding: 0;
  position: relative;
  min-width: $side-bar-width;
}

#sidebar-title {
  letter-spacing: 1px;
  font-weight: 600;
  text-align: center;
  width: 100%;
  padding: 20px;
}

#main {
  display: block;
}

.tab-list {
  padding: 0;
  display: none;
}

.tab-list li {
  list-style-type: none;
  text-align: left;
  padding: 20px;
}

.tab-list li:hover {
  background-color: #effffa;
  color: #4a5759;
  cursor: pointer;
}

.back-button {
  font-size: 10px;
  text-transform: uppercase;
  color: transparent;
  padding: 20px;
}

#previous-menu {
  &.active {
    color: #4a5759;
  
    &:hover {
      color: darkgrey;
      cursor: pointer;
    }
  }

  &:hover {
    color: transparent;
  }
}