@import 'variables/colors';
@import 'variables/sizes';

.sidebar-container {
  background-color: $sidebar-blue;
  height: 100vh;
  position: sticky;
  top: 0;
  width: 300px;
}

.sidebar-header {
  padding: 90px 20px 50px 10px;
}

.content-links {
  color: $white;
  padding: 0 20px 0 30px;
}

.tech-title {
  color: $white;
  font-size: 16px;
  line-height: 19px;
  position: relative;
  text-transform: uppercase;
}

.select-container {
  position: relative;
}

.box-tech {
  border: 1px solid $border-white;
  cursor: pointer;
  height: 35px;
  margin: 8px 0;
  position: relative;
  text-align: start;
  width: 200px;

  &::after {
    background: url('../../../assets/arrow.svg') no-repeat center/100%;
    content: '';
    position: absolute;
    height: 12px;
    margin: 10px;
    right: 0;
    text-align: center;
    transform: rotate(-180deg);
    transition: transform $transition-duration $transition-function;
    width: 12px;
  }

  &--open::after {
    transform: rotate(0deg);
    transition: transform $transition-duration $transition-function;
  }
}

.option-selected {
  color: $white;
  font-size: 16px;
  margin: 8px;
  text-align: left;
}

.menu-select {
  display: none;

  &--open {
    background-color: $cello;
    border: 1px solid $east-bay;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 $shadow-menu;
    color: $white;
    cursor: pointer;
    display: block;
    left: 0;
    position: absolute;
    top: 67px;
    width: 200px;
    z-index: 1;
  }
}

.item-list {
  padding: 8px;

  &:hover {
    background-color: $mariner;
  }
}

.icon-check {
  margin-right: 8px;
  opacity: 0;
}

.item-selected {
  opacity: 1;
}

.simple-link {
  color: $science-blue;
  font-size: 16px;
  line-height: 19px;
  position: relative;
  text-transform: uppercase;
  transition: all $transition-duration $transition-function;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &::before {
    background-color: $white;
    content: '';
    height: 100%;
    left: -14px;
    opacity: 0;
    position: absolute;
    transition: opacity $transition-duration $transition-function;
    width: 2px;
  }

  &:hover,
  &:active,
  &:focus {
    color: $white;
    font-weight: 600;

    &::before {
      opacity: 1;
    }
  }
}

.github-login {
  align-items: center;
  border: 1px solid $white;
  border-radius: 6px;
  color: $white;
  display: flex;
  height: 45px;
  justify-content: center;
  margin: 0 auto;
  max-width: 200px;
  position: relative;
  width: 100%;

  &::before {
    background-size: 100%;
    content: '';
    height: 20px;
    position: relative;
    margin-right: 10px;
    width: 20px;
  }

  &:hover {
    background: $white;
    color: $black;

    &::before {
      background-size: 100%;
    }
  }
}

.selected {
  color: $white;
  font-weight: 600;

  &::before {
    opacity: 1;
  }
}

.sidebar-footer {
  color: $white;
  font-size: 14px;
}

.sidebar-set-style {
  background-color: $science-blue;
  color: $white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  height: 51px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  transition: all $transition-duration $transition-function;

  &:hover {
    background-color: $white;
    color: $science-blue;
  }
}

%line {
  background-color: $mine-shaft;
  border-radius: 10px;
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}

.hamburger {

  @extend %line;
  top: 5px;
  transition: transform 0.28s cubic-bezier(0.68, -0.55, 0.27, 1.55);

  &::after,
  &::before {

    @extend %line;
    content: '';
    display: block;
    transition: all $transition-duration $transition-function;
  }

  &::before {
    top: 8px;
    transition: opacity 1s ease;
  }

  &::after {
    top: 15px;
    transition: transform 0.28s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }
}

.button-active {
  transform: translateX(-70px);

  > .hamburger {
    background-color: $white;

    &::after,
    &::before {
      background-color: $white;
    }
  }
}

.button-container {
  cursor: pointer;
  display: none;
  height: 25px;
  position: absolute;
  right: -50px;
  top: 20px;
  transition: transform $transition-duration $transition-function;
  width: 30px;

  &:hover {

    > .hamburger {
      background-color: $science-blue;

      &::after,
      &::before {
        background-color: $science-blue;
      }
    }
  }
}

.hamburger-active {
  transform: translate3d(0, 8px, 0) rotate(135deg);
  transition-delay: 7.5s;

  &::before {
    opacity: 0;
  }

  &::after {
    transform: translate3d(0, -15px, 0) rotate(-270deg);
    transition-delay: 7.5s;
  }
}

@media screen and (max-width: $medium-screen) {

  .button-container {
    display: initial;
  }

  .sidebar-container {
    position: fixed;
    transform: translateX(-100%);
    z-index: $z-index-sidebar;
  }

  .visible {
    transform: translateX(0);
  }
}
