$background-color: #FFF;
$border-color: #848486;
$title-color: #08080D;
$button-color: #00B876;
$button-color-hover: #04A36A;

.collapsible-container {
  background-color: $background-color;
  border-radius: 20px;
  padding: 42px;
  --background-color: $background-color;
  --border-color: $border-color;
  --icon-height: 10px;
  --icon-width: 14px;
}

.content {
  height: auto;
  overflow: hidden;
  transition: transform 0.3s ease-out;
  transform: scaleY(1);
  transform-origin: top;
}

.collapsed-content {
  transform: scaleY(0);
}

.title {
  color: $title-color;
  font-size: 32px;
  font-weight: 700;
  line-height: 37px;
}

.icon {
  align-self: center;
  height: var(--icon-height);
  margin: 2px;
  position: relative;
  transition: transform 0.3s linear;
  width: var(--icon-width);

  &::before,
  &::after {
    border: calc(var(--icon-width) / 2) solid transparent;
    content: '';
    display: block;
    position: absolute;
  }

  &::before {
    border-top-color: var(--border-color);
  }

  &::after {
    border-top-color: var(--background-color);
  }
}

.icon-clicked {
  transform: rotate(180deg) translateY(calc(var(--icon-height) / 2));
}

.button {
  background-color: $button-color;
  border-radius: 6px;
  color: $background-color;
  font-size: 20px;
  height: 50px;
  min-width: 150px;
  padding: 15px;
  text-align: center;

  &:hover:not(:disabled) {
    background: $button-color-hover;
    box-shadow: 0 0 10px $button-color-hover;
  }
}

.text {
  line-height: 23px;
}
