{
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    ["prismjs", {
      "languages": ["markup", "javascript", "scss"],
      "plugins": ["line-numbers"],
      "theme": "default",
      "css": true
    }]
  ],
  "presets": [
    ["@babel/preset-env", {
      "targets": [
        "last 2 versions", "safari >= 7", "not ie < 9"
      ]
    }]
  ]
}
