$transition-duration: 330ms;
$transition-function: cubic-bezier(0.790, 0.010, 0.375, 0.995);

.container-checkbox {
  --primary-color: #636060;
  --secondary-color: #FFF;
  --active-color: #00D478;
  --background-color: #F1F1F1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-checkbox {
  align-items: center;
  background-color: var(--background-color);
  border-radius: 5px;
  display: flex;
  height: 220px;
  justify-content: center;
  margin: 14px;
  position: relative;
  width: 250px;
}

.checkbox {
  display: none;
}

/* Checkbox 1 */
.checkbox-1 {
  height: 48px;
  position: relative;
  user-select: none;

  & > input + label::before {
    background-color: var(--primary-color);
    border-radius: 8px;
    content: '';
    cursor: pointer;
    height: 16px;
    left: 12.8px;
    position: absolute;
    top: 32px;
    transition: background-color $transition-duration $transition-function;
    width: 40px;
  }

  & > input + label::after {
    background-color: var(--secondary-color);
    border-radius: 16px;
    content: '';
    cursor: pointer;
    height: 20.8px;
    left: 8px;
    position: absolute;
    top: 28.8px;
    transition: transform $transition-duration $transition-function;
    width: 20.8px;
  }

  & > input:checked + label::before {
    background-color: var(--active-color);
  }

  & > input:checked + label::after {
    box-shadow: 0 0 8px var(--secondary-color);
    transform: translateX(25.59px);
  }
}
/* Checkbox 1 */

/* Checkbox 2 */
.checkbox-2 {
  & > label {
    cursor: pointer;
    height: 18px;
    margin: 0 auto;
    position: relative;
    transform: translate3d(0,0,0);
    width: 18px;

    &::before {
      background-color: $black-semi-transparent;
      border-radius: 50%;
      content: '';
      height: 48px;
      left: -15px;
      opacity: 0;
      position: absolute;
      top: -15px;
      transition: opacity $transition-duration $transition-function;
      width: 48px;
    }

    svg {
      fill: none;
      position: relative;
      stroke: var(--primary-color);
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 1.5;
      transform: translate3d(0,0,0);
      transition: all $transition-duration $transition-function;
      z-index: 1;

      path {
        stroke-dasharray: 60;
        stroke-dashoffset: 0;
      }

      polyline {
        stroke-dasharray: 22;
        stroke-dashoffset: 66;
      }
    }

    &:hover {
      &::before {
        opacity: 1;
      }

      svg {
        stroke: var(--active-color);
      }
    }
  }

  & > input:checked + label {
    svg {
      stroke: var(--active-color);

      path {
        stroke-dashoffset: 60;
        transition: all 0.3s linear;
      }

      polyline {
        stroke-dashoffset: 42;
        transition: all 0.2s linear;
        transition-delay: 0.15s;
      }
    }
  }
}
/* Checkbox 2 */

/* Checkbox 3 */
.checkbox-3 {
  label {
    background-color: var(--primary-color);
    cursor: pointer;
    height: 28px;
    overflow: hidden;
    transform: skew(-10deg);
    transition: background-color $transition-duration $transition-function;
    user-select: none;
    width: 60px;

    &::after,
    &::before {
      color: var(--secondary-color);
      content: '';
      font-weight: bold;
      left: 0;
      line-height: 28px;
      position: absolute;
      text-align: center;
      text-shadow: 0 1px 0 rgba(0,0,0,0.4);
      transform: skew(10deg);
      transition: transform $transition-duration $transition-function;
      width: 100%;
    }

    &::after {
      content: attr(data-on);
      transform: translateX(60px);
    }

    &::before {
      content: attr(data-off);
    }
  }

  input:checked + label {
    background-color: var(--active-color);
    &::before {
      transform: translateX(-60px);
    }

    &::after {
      transform: translateX(0);
    }
  }
}
/* Checkbox 3 */

/* Checkbox 4 */
.checkbox-4 {
  label {
    background-color: var(--secondary-color);
    border: 3px solid var(--primary-color);
    border-radius: 28px;
    cursor: pointer;
    height: 28px;
    padding: 2px;
    position: relative;
    transition: border $transition-duration $transition-function;
    user-select: none;
    width: 65px;

    &::after {
      background-color: var(--primary-color);
      border-radius: 14px;
      content: '';
      height: 80%;
      left: 0;
      position: absolute;
      transform: translateX(5px);
      transition: all $transition-duration $transition-function;
      width: 50%;
    }
  }

  input:checked + label {
    border-color: var(--active-color);
    &::after {
      background-color: var(--active-color);
      transform: translateX(27px);
    }
  }
}
/* Checkbox 4 */

/* Checkbox 5 */
.checkbox-5 {
  label {
    cursor: pointer;
    height: 28px;
    perspective: 100px;
    position: relative;
    user-select: none;
    width: 65px;

    &::after,
    &::before {
      backface-visibility: hidden;
      border-radius: 4px;
      color: var(--secondary-color);
      content: '';
      font-weight: bold;
      line-height: 28px;
      position: absolute;
      text-align: center;
      transition: transform $transition-duration $transition-function;
      width: 100%;
    }

    &:after {
      background-color: var(--active-color);
      content: attr(data-on);
      transform: rotateY(-180deg);
    }

    &:before {
      background-color: var(--primary-color);
      content: attr(data-off);
    }

    &:active::before {
      transform: rotateY(-20deg);
    }
  }

  input:checked + label {
    &::before {
      transform: rotateY(180deg);
    }

    &::after {
      transform: rotateY(0);
    }

    &:active::after {
      transform: rotateY(20deg);
    }
  }
}
/* Checkbox 5 */

/* Checkbox 6 */
.checkbox-6 {
  label {
    color: #BFBFBF;
    cursor: pointer;
    padding-left: 28px;
    position: relative;
    transition: color 0.7s $transition-function;

    &::before {
      background-color: var(--active-color);
      border: 10px solid var(--secondary-color);
      border-radius: 50%;
      box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
      content: '';
      display: inline-block;
      height: 20px;
      left: 0;
      position: absolute;
      transition: border 0.3s $transition-function;
      width: 20px;
    }
  }

  input:checked + label {
    color: var(--active-color);

    &::before {
      border-width: 3px;
    }
  }
}
/* Checkbox 6 */

/* Checkbox 7 */
.checkbox-7 {
  input + label {
    align-items: center;
    border: 3px solid var(--primary-color);
    border-radius: 4px;
    color: var(--primary-color);
    cursor: pointer;
    display: flex;
    height: 30px;
    position: absolute;
    text-indent: 35px;
    transform: translate(-50%, -50%);
    transition: all $transition-duration $transition-function;
    user-select: none;
    white-space: nowrap;
    width: 30px;

    &::after {
      border-bottom: 3px solid var(--active-color);
      border-left: 3px solid var(--active-color);
      content: '';
      height: 9px;
      left: 50%;
      opacity: 0;
      position: absolute;
      transform: rotate(-45deg);
      transform-origin: bottom left;
      transition: all $transition-duration $transition-function;
      width: 0;
      will-change: width;
    }
  }

  input:checked + label {
    border-color: var(--active-color);
    color: var(--active-color);

    &:after {
      opacity: 1;
      width: 35px;
    }
  }
}
/* Checkbox 7 */

/* Checkbox 8 */
.checkbox-8 {
  label {
    align-items: center;
    background-color: var(--secondary-color);
    border: 3px solid var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 42px;
    justify-content: center;
    position: relative;
    transition: border $transition-duration $transition-function;
    width: 42px;

    &::before {
      color: var(--primary-color);
      content: '✓';
      font-size: 18px;
      opacity: 0.2;
      transition: opacity 0.3s 0.1s ease;
    }

    &:hover {
      border-color: var(--active-color);

      &::before {
        color: var(--active-color);
      }
    }
  }

  input:checked + label {
    animation: chk-icon-check 0.5s cubic-bezier(0.895, 0.030, 0.685, 0.220) forwards;

    &::before {
      animation: chk-icon-8 0.3s cubic-bezier(1.000, 0.008, 0.565, 1.650) 0.1s 1 forwards;
      color: var(--secondary-color);
      opacity: 1;
      transform: scale(0);
    }
  }
}

@keyframes chk-icon-8 {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes chk-icon-check {
  0% {
    border-width: 5px;
    height: 21px;
    width: 21px;
  }
  10% {
    background-color: rgba(0,0,0,0.2);
    border-width: 15px;
    height: 21px;
    opacity: 0.1;
    width: 21px;
  }
  12% {
    background-color: rgba(0,0,0,0.1);
    border-width: 0;
    height: 21px;
    opacity: 0.4;
    width: 21px;
  }
  50% {
    background-color: var(--active-color);
    border-width: 0;
    height: 42px;
    opacity: 0.6;
    width: 42px;
  }
  100% {
    background-color: var(--active-color);
    border-width: 0;
    height: 42px;
    opacity: 1;
    width: 42px;
  }
}
