@import '../scss/variables/colors';

.circle-progress-radio svg {
  fill: none;
  vertical-align: middle;
}

.circle-progress-radio svg circle {
  stroke: #C8CCD4;
  stroke-width: 2;
}

.circle-progress-radio svg path {
  stroke: #008FFF;
}

.circle-progress-radio svg path.inner {
  stroke-dasharray: 19;
  stroke-dashoffset: 19;
  stroke-width: 6;
}

.circle-progress-radio svg path.outer {
  stroke-dasharray: 57;
  stroke-dashoffset: 57;
  stroke-width: 2;
}

.circle-progress-radio input {
  display: none;
}

.circle-progress-radio input:checked + svg path {
  transition: all 0.4s ease;
}

.circle-progress-radio input:checked + svg path.inner {
  stroke-dashoffset: 38;
  transition-delay: 0.3s;
}

.circle-progress-radio input:checked + svg path.outer {
  stroke-dashoffset: 0;
}

.circle-progress-radio span {
  display: inline-block;
  vertical-align: middle;
}

.custom-radios {
  display: flex;
  justify-content: center;
  width: 100%;
}

.custom-radios input[type='radio'] {
  display: none;
}

.custom-radios input[type='radio'] + label span {
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  cursor: pointer;
  display: inline-block;
  height: 40px;
  line-height: 44px;
  margin: 10px;
  text-align: center;
  vertical-align: middle;
  width: 40px;
}

.custom-radios label span img {
  opacity: 0;
  transition: all 0.3s ease;
}

.custom-radios #color-1 + label span {
  background-color: #2ECC71;
}

.custom-radios #color-2 + label span {
  background-color: #3498DB;
}

.custom-radios #color-3 + label span {
  background-color: #F1C40F;
}

.custom-radios #color-4 + label span {
  background-color: #E74C3C;
}

.custom-radios input[type='radio']:checked + label span img {
  opacity: 1;
}
