$scale: 5;

$min-top: 10;
$max-top: 100;

$min-right: 10;
$max-right: 80;

$min-bottom: 10;
$max-bottom: 100;

$min-left: 10;
$max-left: 80;

// Top margins

@if $min-top > 0 {
  $unscaled-min-top: $min-top / $scale;
  $unscaled-max-top: $max-top / $scale;

  @for $i from $unscaled-min-top through $unscaled-max-top {
    .m-top-#{$i} {
      margin-top: #{$i * $scale}px;
    }
  }
}

// Right margins

@if $min-right > 0 {
  $unscaled-min-right: $min-right / $scale;
  $unscaled-max-right: $max-right / $scale;

  @for $i from $unscaled-min-right through $unscaled-max-right {
    .m-right-#{$i} {
      margin-right: #{$i * $scale}px;
    }
  }
}

// Bottom margins

@if $min-bottom > 0 {
  $unscaled-min-bottom: $min-bottom / $scale;
  $unscaled-max-bottom: $max-bottom / $scale;

  @for $i from $unscaled-min-bottom through $unscaled-max-bottom {
    .m-bottom-#{$i} {
      margin-bottom: #{$i * $scale}px;
    }
  }
}

// Left margins

@if $min-left > 0 {
  $unscaled-min-left: $min-left / $scale;
  $unscaled-max-left: $max-left / $scale;

  @for $i from $unscaled-min-left through $unscaled-max-left {
    .m-left-#{$i} {
      margin-left: #{$i * $scale}px;
    }
  }
}

.m-top-0 {
  margin-top: 0;
}

.m-top-05 {
  margin-top: 5px;
}

.m-right-0 {
  margin-right: 0;
}

.m-right-05 {
  margin-right: 5px;
}

.m-right-25 {
  margin-right: 25px;
}

.m-bottom-0 {
  margin-bottom: 0;
}

.m-bottom-05 {
  margin-bottom: 5px;
}

.m-left-0 {
  margin-left: 0;
}

.m-left-05 {
  margin-left: 5px;
}

.m-left-38 {
  margin-left: 38px;
}

.m-top-4 {
  margin-top: 40px;
}

.m-top-3 {
  margin-top: 30px;
}

.m-top-2 {
  margin-top: 20px;
}

.m-top-auto {
  margin-top: auto;
}

.m-right-auto {
  margin-right: auto;
}

.m-bottom-auto {
  margin-bottom: auto;
}

.m-left-auto {
  margin-left: auto;
}
