<div class="input-section-container">
  <div id="input-1" class="input-container">
    <span class="input-subtitle">Input 1</span>
    <div class="input-wrapper">
      <input type="email" class="input-base" />
      <label class="input-label">Email</label>
    </div>
  </div>
  <div id="input-2" class="input-container">
    <span class="input-subtitle">Input 2</span>
    <label for="inp" class="inp">
      <input type="text" id="inp" placeholder="&nbsp;">
      <span class="label">Label</span>
      <span class="border"></span>
    </label>
  </div>
  <div id="input-3" class="input-container">
    <span class="input-subtitle">Input 3</span>
    <div class="Input">
      <input type="text" id="input" class="Input-text" placeholder="Your first name, e.g. Nicholas">
      <label for="input" class="Input-label">First name</label>
    </div>
  </div>
</div>
<script src="scripts/input.js"></script>
