@import 'scss/input1';
@import 'scss/input2';
@import 'scss/input3';

.input-section-container {
  padding: 40px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.input-subtitle {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
}