#buttons
  h2.title Button
  .container-components.buttons
    card.btn-group(title='Border gradient')
      button.btn.btn-1(disabled='')
        .btn__content cancel
      button.btn.btn-1
        .btn__content submit
    card.btn-group(title='Perspective')
      button.btn.btn-2(disabled='')
        .btn__content cancel
      button.btn.btn-2
        .btn__content submit
    card.btn-group(title='Slide left')
      button.btn.btn-3(disabled='')
        .btn__content cancel
      button.btn.btn-3
        .btn__content submit
    card.btn-group(title='Slide up')
      button.btn.btn-4(disabled='')
        .btn__content cancel
      button.btn.btn-4
        .btn__content submit
    card.btn-group(title='Slide left circle')
      button.btn.btn-5(disabled='')
        .btn__content cancel
      button.btn.btn-5
        .btn__content submit
