<script src="scripts/checkbox.js"></script>

<div class="container-options">
  <div class="control-form">
    <label for="primaryRadioColor">Primary Color</label>
    <input class="input-control" type="color" id="primaryRadioColor" value="#636060">
  </div>
  <div class="control-form">
    <label for="secondaryRadioColor">Secondary Color</label>
    <input class="input-control" type="color" id="secondaryRadioColor" value="#FFFFFF">
  </div>
  <div class="control-form">
    <label for="activeRadioColor">Active Color</label>
    <input class="input-control" type="color" id="activeRadioColor" value="#00D478">
  </div>
  <div class="control-form">
    <label for="radioBackgroundColor">Background Color</label>
    <input class="input-control" type="color" id="radioBackgroundColor" value="#333333">
  </div>
</div>
<div class="container-checkbox">
  <div class="item-checkbox">
    <div class="checkbox-1">
      <input class="checkbox" type="checkbox" name="checkbox-1" id="checkbox-1" />
      <label for="checkbox-1">Checkbox 1</label>
    </div>
  </div>
  <div class="item-checkbox">
    <div class="checkbox-2">
      <input class="checkbox" type="checkbox" id="checkbox-2" />
      <label for="checkbox-2">
        <svg width="18px" height="18px" viewBox="0 0 18 18">
          <path d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z"></path>
          <polyline points="1 9 7 14 15 4"></polyline>
        </svg>
      </label>
    </div>
  </div>
  <div class="item-checkbox">
    <div class="checkbox-3">
      <input class="checkbox" id="checkbox-3" type="checkbox" />
      <label data-off="OFF" data-on="ON" for="checkbox-3"></label>
    </div>
  </div>
  <div class="item-checkbox">
    <div class="checkbox-4">
      <input class="checkbox" id="checkbox-4" type="checkbox" />
      <label for="checkbox-4"></label>
    </div>
  </div>
  <div class="item-checkbox">
    <div class="checkbox-5">
      <input class="checkbox" id="checkbox-5" type="checkbox" />
      <label data-off="Nope" data-on="Yeah!" for="checkbox-5"></label>
    </div>
  </div>
  <div class="item-checkbox">
    <div class="checkbox-6">
      <input class="checkbox" id="checkbox-6" type="checkbox" />
      <label for="checkbox-6">Checkbox 6</label>
    </div>
  </div>
  <div class="item-checkbox">
    <div class="checkbox-7">
      <input class="checkbox" id="checkbox-7" type="checkbox" />
      <label for="checkbox-7">Checkbox 7</label>
    </div>
  </div>
  <div class="item-checkbox">
    <div class="checkbox-8">
      <input class="checkbox" id="checkbox-8" type="checkbox" />
      <label for="checkbox-8"></label>
    </div>
  </div>
  <!-- <div class="item-checkbox">
    <div class="checkbox-9">
      <input class="checkbox" id="checkbox-3" name="checkbox-3" type="checkbox" />
      <label for="checkbox-3">
        <span>
          <svg width="12px" height="10px" viewbox="0 0 12 10">
            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
          </svg>
        </span>
        <span>CodePenChallenge</span>
      </label>
    </div>
  </div> -->
</div>
