<div class="container-options">
  <div class="control-form">
    <label for="inputColor">Color</label>
    <input class="input-control" type="color" name="changeColor" id="inputColor" value="#FFFFFF">
  </div>
  <div class="control-form">
    <label for="inputBackgroundColor">Background Color</label>
    <input class="input-control" type="color" name="changeBackgroundColor" id="inputBackgroundColor" value="#333333">
  </div>
</div>
<div class="container-spinners">
  <div class="spinner">
    <div class="spinner-1">
      <h4 class="spinner-1-text">Loading...</h4>
    </div>
  </div>
  <div class="spinner spinner-flex">
    <div class="spinner-2"></div>
  </div>
  <div class="spinner spinner-3 spinner-flex">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="spinner spinner-4 spinner-flex">
    <div class="spinner-4-wrapper">
      <div class="spinner-4-dot1"></div>
      <div class="spinner-4-dot2"></div>
    </div>
  </div>
  <div class="spinner spinner-flex">
    <div class="spinner-5-wrapper"></div>
  </div>
  <div class="spinner spinner-flex">
    <div class="spinner-6-wrapper"></div>
  </div>
  <div class="spinner spinner-flex">
    <div class="spinner-7-wrapper">Loading</div>
  </div>
  <div class="spinner spinner-flex">
    <div class="spinner-8">Loading</div>
  </div>
  <div class="spinner spinner-flex">
    <div class="spinner-9"></div>
  </div>
  <div class="spinner spinner-flex spinner-10">
    <div class="spinner-10-dots">
      <div class="spinner-10-dot"></div>
    </div>
    <h6 class="spinner-10-text">Loading</h6>
  </div>
  <div class="spinner spinner-flex">
    <div class="spinner-11-circle spinner-11-circle1"></div>
    <div class="spinner-11-circle spinner-11-circle2"></div>
    <div class="spinner-11-circle spinner-11-circle3"></div>
  </div>
  <div class="spinner spinner-flex">
    <div class="spinner-12">
      <div class="spinner-12-cube spinner-12-c1"></div>
      <div class="spinner-12-cube spinner-12-c2"></div>
      <div class="spinner-12-cube spinner-12-c4"></div>
      <div class="spinner-12-cube spinner-12-c3"></div>
    </div>
  </div>
  <div class="spinner spinner-flex">
    <div class="spinner-13"></div>
  </div>
  <div class="spinner spinner-flex">
    <div class="spinner-14">
      <div class="spinner-14-item"></div>
      <div class="spinner-14-item"></div>
      <div class="spinner-14-item"></div>
      <div class="spinner-14-item"></div>
      <div class="spinner-14-item"></div>
      <div class="spinner-14-item"></div>
      <div class="spinner-14-item"></div>
      <div class="spinner-14-item"></div>
      <div class="spinner-14-item"></div>
    </div>
  </div>
  <div class="spinner spinner-flex">
    <div class="spinner-15"></div>
  </div>
</div>

<script>
  const inputColor = document.querySelector('#inputColor');
  const inputBackgroundColor = document.querySelector('#inputBackgroundColor');
  const containerSpinners = document.querySelector('.container-spinners');

  inputColor.addEventListener('change', (e) => {
    const color = e.target.value;
    containerSpinners.style.setProperty('--color', color);
  });

  inputBackgroundColor.addEventListener('change', (e) => {
    const color = e.target.value;
    containerSpinners.style.setProperty('--background-color', color);
  });
</script>
