$white: #FFF;
$black: #1A1A1A;
$mine-shaft: #333;
$sidebar-blue: #002363;
$science-blue: #0151E2;
$golden-tainoi: #FECB65;
$porcelain: #EDF2F0;
$limed-spruce: #323C47;
$oslo-gray: #949B9D;
$catskill-white: rgba(233, 239, 244, 0.48);
$blue-ribbon: #1D65FF;
$blue-ribbon-dark: #005BFF;
$border-white: rgba(255, 255, 255, 0.5);
$shadow-menu: rgba(0, 0, 0, 0.5);
$mariner: #3766D3;
$cello: #213261;
$east-bay: #46547B;
$bastille: #2D2D31;
