// Texts
$text-small: 12px;

// Transitions and animations
$transition-duration: 330ms;
$transition-function: cubic-bezier(0.79, 0.01, 0.38, 0.99);

// Max content width
$content-max-width: 1080px;

// Media queries
$small-screen: 512px;
$medium-screen: 912px;
$big-screen: 1200px;

// z-index
$z-index-sidebar: 2;
