$white: #FFF;

$input-border: #CCC;
$input-color: #A475E4;
$input-placeholder-active: #BBB;
$input-active-color: #0043CD;

.input-wrapper {
  height: 40px;
  //border: 1px solid $input-border;
  margin-bottom: 20px;
  position: relative;
  max-width: 150px;

  .input-label {
    position: absolute;
    left: 15%;
    transform: translate(-50%, -50%);
    color: $input-active-color;
    transition: border-color 0.2s linear;
    font-weight: 300;
    pointer-events: none;
    background-color: $white;
    padding: 4px;
    font-size: 10px;
    visibility: hidden;
  }

  .input-base {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid $input-border;
    border-radius: 5px;
    padding: 0 15px 0;
    font-size: 14px;
    font-weight: 300;
    transition: color 0.25s;

    &.filled-input + .input-label {
      top: 2px;
      left: 5px;
      font-size: 12px;
      transform: translate(0, 0);
      transition: all 0.2s;
      font-weight: 300;
      color: $input-placeholder-active;
    }

    &:focus + .input-label { 
      visibility: initial;
    }
    &:focus::placeholder {
      color: transparent;
    }

    &:focus {
      border-color: $input-active-color;
    }
  }
}
