$white: #fff;

$input-border: #ccc;
$input-active-color: #0043cd;
$input-submit: #5a667f;
$error: #ea4453;

.input-wrapper {
  height: 40px;
  margin-bottom: 20px;
  position: relative;
  max-width: 150px;

  .input-label {
    position: absolute;
    transition: all 0.2s;
    left: 20%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    background-color: $white;
    padding: 4px;
  }

  .input-base {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid $input-border;
    transition: border 0.2s linear;
    border-radius: 5px;
    padding: 0 15px 0;
    font-size: 14px;

    &:not(:placeholder-shown) {
      border-color: $input-submit;

      + .input-label {
        top: 6%;
        left: 15%;
        transform: translate(-50%, -50%);
        color: $input-submit;
        font-size: 10px;
      }
    }

    &:focus {
      border-color: $input-active-color;

      + .input-label {
        top: 6%;
        left: 15%;
        transform: translate(-50%, -50%);
        color: $input-active-color;
        font-size: 10px;
      }
    }
  }

  .input-error {
    border: 1px solid $error;

    &:focus,
    &:not(:placeholder-shown) {
      border-color: $error;
      + .input-label {
        color: $error;
      }
    }
  }
}
