@import '../../scss/variables/_colors';
@import '../../scss/variables/_sizes';

#detail {
  background-color: $porcelain;
  padding: 0 14px;
  position: absolute;
  top: 0;
  transform: translateX(100%);
  transition: transform $transition-duration $transition-function;
  z-index: 1;

  &.visible {
    transform: translateX(0);
  }
}

.button-title {
  transition: color $transition-duration $transition-function;

  &:hover {
    color: $blue;
  }
}

.big-card {
  --color: #333;
  --bg-color: #D0D1D4;

  background-color: var(--bg-color);
  border-radius: 4px;
  box-shadow: 2px 2px 3px rgba($black, 0.2);
  height: #{$card-height * 1.5};
  margin: 14px 0;
  position: relative;
  width: 100%;
}

.card-header-link {
  align-items: center;
  background-color: $white;
  border-radius: 4px 4px 0 0;
  display: inline-flex;
  font-size: $text-small;
  padding: 7px;
  position: absolute;
  right: 0;
  top: -35px;

  &:hover {
    color: $blue;
  }
}

.icon {
  font-size: $text-big;
  margin-right: 5px;
}

.card-header {
  background-color: $white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  justify-content: space-between;
}

.button-tab {
  border: 1px solid $gray;
  flex: 1;
  font-weight: bold;
  padding: 14px;
  text-transform: uppercase;
  transition: background-color $transition-duration $transition-function;

  &:hover,
  &.active {
    background-color: lighten($gray, 5%);
    color: $white;
  }

  &:first-child {
    border-right: none;
    border-top-left-radius: 4px;
  }

  &:last-child {
    border-left: none;
    border-top-right-radius: 4px;
  }
}

.card-content {
  height: #{$card-height * 1.1};
  overflow-y: auto;
  padding: 14px;

  & > p {
    line-height: 1.5;
  }
}

.card-footer {
  align-items: center;
  background-color: $white;
  display: flex;
  height: 50px;
  justify-content: center;
}

.button-footer {
  background-color: $porcelain;
  border-radius: 4px;
  font-weight: bold;
  padding: 7px 14px;
  transition: color $transition-duration $transition-function;

  &:hover {
    color: $blue;
  }
}

.hide {
  display: none;
}

.button-dropdown {
  background-color: $white;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 2px 2px 3px rgba($black, 0.2);
  padding: 7px 14px;
  transition: color $transition-duration $transition-function;

  &:hover {
    color: $blue;
  }
}

.dropdown {
  background-color: $white;
  border-radius: 4px;
  box-shadow: 2px 2px 3px rgba($black, 0.2);
  left: 0;
  max-width: 100%;
  padding: 14px;
  position: absolute;
  top: 30px;
  transform: scale(0, 0);
  transform-origin: 0 0;
  transition: transform $transition-duration $transition-function;
  width: 300px;

  &.open {
    transform: scale(1, 1);
  }
}

.dropdown-title {
  font-weight: bold;
}

.dropdown-content {
  border-bottom: 1px solid $gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 14px 0;
  padding-bottom: 14px;

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.control-form {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-left: 10px;
}

.input {
  border: 1px solid darken($gray, 5%);
  cursor: pointer;
  height: 30px;
  text-align: center;
  width: 50px;
}

// TODO delete this when there is a way to pass the styles
.spinner {
  height: 80px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 40%;
  width: 80px;

  &::before,
  &::after {
    animation: spinner1 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    border: 4px solid var(--color);
    border-radius: 50%;
    content: '';
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
  }

  &::before {
    height: 50px;
    top: 10px;
    width: 50px;
  }

  &::after {
    animation-delay: -0.5s;
    height: 70px;
    width: 70px;
  }
}

.spinner-text {
  bottom: -14px;
  color: var(--color);
  font-size: 12px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

@keyframes spinner1 {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    transform: scale(1);
    opacity: 0;
  }
}
