#detail(:class="{ visible: isVisible }")
  div
    button.button-title(@click='onClick()')
      i.fas.fa-long-arrow-alt-left.icon
    h2.title {{title}}
  .big-card
    a.card-header-link
      i.fab.fa-github.icon
      | mcallegari10
    button.button-dropdown
      i.fas.fa-cog
    .dropdown
      h6.dropdown-title Configure your component
      .dropdown-content
        span Colors
        .control-form
          label(for='inputColor') Theme color
          input#inputColor.input(type='color' name='changeColor' value='#333333')
        .control-form
          label(for='inputBackgroundColor') Background color
          input#inputBackgroundColor.input(type='color' name='changeBackgroundColor' value='#D0D1D4')
      .dropdown-content
        span Sizes (px)
        .control-form
          label(for='inputFontSize') Font size
          input#inputFontSize.input(type='text' name='changeFontSize' value='14')
    .spinner
      h4.spinner-text Loading...
  .big-card
    .card-header
      button.button-tab.active(data-tab-active='html') html
      button.button-tab(data-tab-active='scss') scss
      button.button-tab(data-tab-active='js') js
    .card-content
      p(data-tab='html')
        | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos laborum, quas cumque distinctio ea recusandae repudiandae nesciunt saepe assumenda reiciendis ipsam dignissimos eaque consequatur, impedit explicabo eius, praesentium dolorum doloremque.
      p.hide(data-tab='scss')
        | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique architecto, laboriosam incidunt sed sapiente delectus earum doloremque nam maiores voluptas possimus iste laborum autem libero eveniet aliquid ad! Voluptatibus, aspernatur.
        | Animi atque similique sunt. Voluptatibus accusamus quis at, quia ex rerum inventore culpa commodi soluta nisi iure debitis atque, fugiat consequatur dolores, numquam enim nam. Ipsum adipisci reiciendis facere nihil!
        | Alias odit suscipit illo magni debitis labore? Ipsum excepturi enim culpa at, sapiente libero beatae! Excepturi, neque voluptates in repudiandae doloribus aperiam nobis distinctio iusto esse nostrum earum labore blanditiis.
        | Voluptatibus quidem delectus, dignissimos architecto dicta reprehenderit odio quam velit quod, doloribus tempora repudiandae nemo soluta accusamus ab repellat unde sed animi nam aut illum porro. Ea impedit animi iure.
        | Voluptatibus nisi incidunt at voluptate officia pariatur, magnam, molestias, nemo quibusdam saepe quo soluta explicabo placeat dolor porro consequuntur consectetur consequatur deserunt fugit quos. Possimus nulla laborum nesciunt ipsum voluptatibus.
        | Blanditiis quasi maxime beatae mollitia quo dolorem veritatis placeat pariatur optio voluptas, animi eos at deserunt ducimus non expedita quia excepturi unde dolorum autem nesciunt perspiciatis? Consectetur ipsum vitae illum.
      p.hide(data-tab='js')
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, aut labore. Enim suscipit, doloremque soluta dolore illum blanditiis, culpa ullam eos non necessitatibus ad eius tempora, aspernatur dolorum voluptate ex.Excepturi temporibus ad dolores iste voluptatibus nesciunt quaerat commodi, provident possimus perspiciatis ducimus autem porro reprehenderit. Unde eaque blanditiis fuga ipsa. Eius quia fugiat tempore rem laudantium ut ullam officiis!
    .card-footer
      button.button-footer Copy the code
