
.title {
  font-size: 20px;
  font-weight: 600;
  margin: 50px 0;
  text-transform: uppercase;
}

.loading {
  background: #DE930B;
  border-radius: 20px;
  color: #F2F2F2;
  font-style: italic;
  font-weight: 600;
  padding: 15px;
}

.list {
  margin: 0 auto;
  max-width: 500px;
  padding: 0 20px;
  text-align: center;

  .item-list {
    background-color: #F2F2F2;
    border: 1px solid #CCC;
    cursor: pointer;
    margin: 30px 0;
    padding: 30px 60px;
    transition: all 500ms;

    &:hover {
      background-color: #CCC;
    }
  }
}

.grid {
  max-width: 100%;
  padding: 0 50px;
  text-align: center;

  .content-items-grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin-bottom: 20px;
  }

  .item-grid {
    align-items: center;
    background-color: #F2F2F2;
    border: 1px solid #CCC;
    cursor: pointer;
    display: flex;
    height: 200px;
    justify-content: center;
    margin: 0;
    transition: all 500ms;

    &:hover {
      background-color: #CCC;
    }
  }
}
