.tab-bar-container {
  --active-color: #0043cd;
  --background-color: #fff;
}

.tab-bar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid var(--active-color);

  .option {
    padding: 20px;
    font-weight: 800;
    transition: color 300ms ease;
  }

  .selected {
    color: var(--active-color);
  }

  .selector {
    align-self: flex-end;
    position: absolute;
    transition: left 500ms linear;
    width: 10px;
    height: 15px;

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 23px 15px 23px;
    }

    &::before {
      border-color: transparent transparent var(--active-color) transparent;
      top: 0;
    }

    &::after {
      border-color: transparent transparent var(--background-color) transparent;
      top: 1px; //indicator width
    }
  }

  .selected-0 {
    left: 110px;
  }

  .selected-1 {
    left: 280px;
  }

  .selected-2 {
    left: 450px;
  }
}
