$white: #FFF;

.spinner-4-wrapper {
  animation: spinner4-rotate 2s infinite linear;
  height: 40px;
  position: relative;
  width: 40px;
}

.spinner-4-dot1,
.spinner-4-dot2 {
  animation: spinner4-bounce 2s infinite ease-in-out;
  background-color: $white;
  border-radius: 50%;
  height: 60%;
  position: absolute;
  top: 0;
  width: 60%;
}

.spinner-4-dot2 {
  animation-delay: -1s;
  bottom: 0;
  top: auto;
}

@keyframes spinner4-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner4-bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
