$transition-function: cubic-bezier(0.790, 0.010, 0.375, 0.995);
$transition-duration: 330ms;

.checkbox {
  display: none;
}

.checkbox-4 {
  --primary-color: #636060;
  --active-color: #00D478;
  display: flex;

  label {
    background-color: #FFF;
    border: 2px solid var(--primary-color);
    border-radius: 28px;
    cursor: pointer;
    height: 28px;
    position: relative;
    transition: border $transition-duration $transition-function;
    user-select: none;
    width: 65px;

    &::after {
      background-color: var(--primary-color);
      border-radius: 14px;
      content: '';
      height: 80%;
      left: 0;
      position: absolute;
      top: 3px;
      transform: translateX(5px);
      transition: all $transition-duration $transition-function;
      width: 50%;
    }
  }

  input:checked + label {
    border-color: var(--active-color);
    &::after {
      background-color: var(--active-color);
      transform: translateX(90%);
    }
  }
}
