$white: #FFF;
$black: #000;

.container {
  display: flex;
  flex-direction: column;
}

.button-label {
  background-color: $white;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba($black,0.2), inset 0 -3px 0 rgba($black,0.22);
  color: $black;
  cursor: pointer;
  font-size: 15px;
  margin-bottom: 15px;
  padding: 10px 20px;
  transition: all 0.3s ease;
  user-select: none;

  &:hover {
    background-color: darken($white, 10%);
    color: darken($black, 10%);
  }

  &:active {
    box-shadow: 0 3px 10px rgba($black,0.2), inset 0 -1px 0 rgba($black,0.22);
    transform: translateY(2px);
  }
}

.radio-label {
  display: none;
}

.radio-label:checked + .button-label {
  background-color: darken($white, 25%);
  box-shadow: 0 3px 10px rgba($black,0.2), inset 0 -1px 0 rgba($black,0.22);
  color: darken($white, 5%);
  transform: translateY(2px);
}
