@import 'variables/colors';
@import 'variables/sizes';

.github-link {
  color: $mine-shaft;

  &::before {
    background: url('../../../../../assets/github-dark.png') no-repeat;
    background-size: 100%;
    content: '';
    height: 20px;
    margin-right: 10px;
    position: relative;
    width: 20px;
  }

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

.upper-section {
  margin: 0 auto;
  max-width: $content-max-width;
  padding: 80px 80px 0;
}

.details-recipe {
  align-items: center;
  background-color: $golden-tainoi;
  display: flex;
  height: 350px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
}
