$transition-function: cubic-bezier(0.790, 0.010, 0.375, 0.995);
$transition-duration: 330ms;

.item-checkbox {
  --primary-color: #636060;
  --secondary-color: #FFF;
  --active-color: #00D478;
}

.checkbox {
  display: none;
}

.checkbox-1 {
  position: relative;
  user-select: none;

  & > input + label::before {
    background-color: var(--primary-color);
    border-radius: 8px;
    content: '';
    cursor: pointer;
    height: 16px;
    left: -15px;
    position: absolute;
    top: 0;
    transition: background-color $transition-duration $transition-function;
    width: 40px;
  }

  & > input + label::after {
    background-color: var(--secondary-color);
    border-radius: 16px;
    content: '';
    cursor: pointer;
    height: 20.8px;
    left: -18px;
    position: absolute;
    top: -3px;
    transition: transform $transition-duration $transition-function;
    width: 20.8px;
  }

  & > input:checked + label::before {
    background-color: var(--active-color);
  }

  & > input:checked + label::after {
    box-shadow: 0 0 8px var(--secondary-color);
    transform: translateX(25.59px);
  }
}
