@import '~wolox-equalizer/equalizer';

@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,700');

@import 'layout';

@import 'margins';

@import 'components';
@import './overrides/markdown';

// TODO: Edit this global styles

* {
  font-family: Barlow, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
