@import '~wolox-equalizer/equalizer.scss';

.explanation {
  margin: 40px auto;
  font-size: 18px;
}

.container {
  align-items: center;
  background: #8dc63f;
  display: flex;
  height: 470px;
  justify-content: center;
  max-width: 1080px;
  width: 100%;
}
