@import 'variables/colors';
@import 'variables/sizes';

.tree {
  align-items: flex-start;
  background: $limed-spruce;
  display: flex;
  flex: 1 0;
  flex-direction: column;
  min-width: 300px;
  padding: 10px 0;
  overflow: auto;

  &-root {
    align-items: center;
    color: $code-gray;
    display: inline-flex;
    font-size: 16px;
    font-weight: 700;
    height: $tree-item;
    padding-left: 15px;
    vertical-align: middle;
  }

  &-nodes-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-size: $tree-font-size;
    height: 100%;
    width: 100%;
  }

  &-item {
    color: $code-gray;
    font-size: inherit;
    height: $tree-item;
    padding: 2px;
    padding-left: var(--padding-left);
    text-align: left;
    width: 100%;

    &:hover {
      background: $shuttle-gray;
    }

    &-active {
      background-color: $catskill-white;
      position: relative;

      &::after {
        background-color: $royal-blue;
        content: '';
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 5px;
      }
    }
  }

  &-folder {
    align-items: flex-start;
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow: hidden;

    &-container {
      width: 100%;
    }

    &-hidden {
      height: 0;
    }
  }
}
