@import 'variables/colors';
@import 'variables/sizes';

.files-structure-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.header {
  display: flex;
}

.code-container {
  display: flex;
  height: 600px;
  margin-top: 30px;
}

.download-container {
  flex: 1 0;
  min-width: 300px;
}

.button-active {
  background-color: $sidebar-blue;
  color: $white;
}

.code-snippets {
  flex: 4;
  margin-left: 10px;
  overflow: hidden;
  position: relative;
}

.code {
  opacity: 0;
  position: absolute;
  transition: opacity $transition-duration $transition-function;
}

.code-visible {
  opacity: 1;
  pointer-events: all;
  transition-delay: 200;
}

.download-button {
  background-color: $catskill-white;
  border-radius: 4px;
  font-weight: 600;
  height: 40px;
  margin-right: 15px;
  margin-left: 80px;
  padding: 10px;
  text-align: center;
  transition: all $transition-duration $transition-function;

  &:hover {
    background-color: $sidebar-blue;
    color: $white;
  }
}

.file-name {
  align-items: center;
  display: inline-flex;
  flex: 4;
  font-size: 20px;
  padding-left: 10px;
}
