$mercury: #E5E5E5;
$alabaster: #F7F7F7;
$oslo-gray: #92978B;
$black: #000;

.list-item {
  border-radius: 6px;
  height: 50px;
  padding: 0 20px;
  position: relative;

  &:nth-child(2n) {
    background-color: $alabaster;
  }

  &:nth-child(2n - 1) {
    background-color: $mercury;
  }

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.close-icon {
  cursor: pointer;
  height: 20px;
  position: relative;
  width: 20px;

  &::after,
  &::before {
    background-color: $oslo-gray;
    content: '';
    height: 2px;
    position: absolute;
    width: 15px;
  }

  &::after {
    transform: translate(calc(-50%), calc(-50%)) rotate(45deg);
  }

  &::before {
    transform: translate(calc(-50%), calc(-50%)) rotate(-45deg);
  }
}
