.btn.btn-5 {
  --btn-border-radius: 20px;
}

.btn.btn-5 {
  align-items: center;
  background: none;
  border: 0;
  border-radius: var(--btn-border-radius);
  cursor: pointer;
  display: flex;
  font-size: var(--btn-font-size);
  justify-content: center;
  overflow: hidden;
  padding: var(--btn-border);
  position: relative;
  transition: var(--btn-trn-duration);
  transition-duration: var(--btn-trn-duration);
  transition-property: transform;
}

.btn.btn-5:disabled {
  --btn-color-1: #DEDEDE;
  --btn-color-2: #CBCBCB;
  --btn-text-color: #A9A9A9;
  pointer-events: none;
}

.btn.btn-5:disabled .btn__content {
  transform: none;
}

.btn.btn-5:disabled::before {
  transform: translateX(-100%);
}

.btn.btn-5 > * {
  pointer-events: none;
  user-select: none;
}

.btn.btn-5 .btn__content {
  align-items: center;
  border-radius: var(--btn-border-radius);
  color: var(--btn-color-1);
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding: 10px 25px;
  position: relative;
  transform: translateX(calc(var(--btn-border-radius)));
  transition-duration: var(--btn-trn-duration);
  transition-property: transform color;
}

.btn.btn-5::before {
  background-color: var(--btn-color-1);
  border-radius: var(--btn-border-radius);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  transition: var(--btn-trn-duration);
  transform: translateX(calc(-100% + calc(var(--btn-border-radius) * 2)));
}

.btn.btn-5:hover .btn__content{
  color: var(--btn-text-color);
  transform: translateX(0);
}

.btn.btn-5:hover::before {
  transform: translateX(0);
}

.btn.btn-5:active::before {
  transform: scale(0.7);
}
