@import 'variables/colors';
@import 'variables/sizes';

.github-link {
  color: $mine-shaft;

  &::before {
    background: url('../../../../../assets/github-dark.png') no-repeat;
    background-size: 100%;
    content: '';
    height: 20px;
    margin-right: 10px;
    position: relative;
    width: 20px;
  }

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

.details-component {
  align-items: center;
  background-color: $golden-tainoi;
  display: flex;
  height: 350px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.settings-checkbox {
  bottom: 16px;
  position: absolute;
  right: 16px;

  input {
    display: none;
  }

  label {
    background-color: $white;
    border: 1px solid $porcelain;
    border-radius: 4px;
    cursor: pointer;
    height: 28px;
    overflow: hidden;
    position: relative;
    transition: background-color $transition-duration $transition-function;
    user-select: none;
    width: 60px;

    &::after,
    &::before {
      align-items: center;
      color: $science-blue;
      display: flex;
      font-size: $text-small;
      font-weight: 300;
      height: 100%;
      justify-content: center;
      left: 0;
      line-height: 1.1;
      position: absolute;
      transition: transform $transition-duration $transition-function;
      width: 100%;
    }

    &::after {
      content: 'Settings';
      transform: translateY(60px);
    }

    &::before {
      content: 'Code';
    }

    &:hover {
      background-color: $porcelain;
    }
  }

  input:checked + label {

    &::after {
      transform: translateY(0);
    }

    &::before {
      transform: translateY(-60px);
    }
  }
}
