$white: #FFF;
$black: #000;

.container {
  display: flex;
  flex-direction: column;

  input[type='radio'] {
    display: none;

    & + label {
      color: $white;
      cursor: pointer;
      margin-bottom: 15px;
      padding-left: 30px;
      position: relative;

      &::before,
      &::after {
        border-radius: 50%;
        content: '';
        position: absolute;
        transition: all 0.3s ease;
      }

      &::before {
        background-color: $white;
        height: 18px;
        left: 0;
        top: -1px;
        width: 18px;
      }

      &::after {
        background-color: darken($white, 20%);
        height: 54px;
        left: 9px;
        opacity: 0;
        top: 49%;
        transform: translate(-50%, -50%) scale(0);
        width: 54px;
      }
    }

    &:checked + label::before {
      box-shadow: inset 0 0 0 4px rgba($black, 0.25);
    }

    &:checked + label::after {
      animation: ripple 1s none;
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

@keyframes ripple {
  5%,
  100% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
}
