doctype html
html(lang='en')
  head
    title Front-End Cookbook
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='preload' href='./detail.js' as='script')
    link(rel='preload' href='./vendor.js' as='script')
    link(rel='preload' href='styles.detail.css' as='style')
    link(rel='icon' type='image/png' href='/assets/favicon.ico')
    link(rel='stylesheet' href='styles.detail.css')
    script(src='./vendor.js')
  body
    #app.container(v-cloak)
      sidebar(:is-user-logged-in='isUserLoggedIn' @list='changeCurrentList')
      .details-container
        h1.title.m-bottom-5
          | {{ componentTitle }}
        #host.component-render-container
        .code-container
          .row
            button.button-type(type='button' @click='changeCurrentCode("html")' :class='{ active: currentCode == "html" }')
              | HTML
            button.button-type(type='button' @click='changeCurrentCode("scss")' :class='{ active: currentCode == "scss" }')
              | SCSS
          code-snippet.code(lang='html' title='HTML' :code='html' :class='{ isVisible: currentCode == "html" }')
          code-snippet.code(lang='scss' title='SCSS' :code='scss' :class='{ isVisible: currentCode == "scss" }')
    script(src='/detail/detail.js')
