@import 'application';

.details-container {
  margin: 0 auto;
  max-width: $content-max-width;
  padding: 80px 20px 20px 80px;
  width: 100%;
}

.code-container {
  background-color: $white;
  height: 600px;
  padding-top: 30px;
  position: relative;
}

.code {
  left: 0;
  position: absolute;
  top: 90px;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform $transition-duration $transition-function;

  &.isVisible {
    transform: scaleY(1);
    transition-delay: 200ms;
  }
}

.button-type {
  background-color: $catskill-white;
  border-radius: 4px;
  font-weight: 600;
  height: 40px;
  margin-right: 15px;
  text-align: center;
  transition: all $transition-duration $transition-function;
  width: 90px;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &.active {
    background-color: $sidebar-blue;
    color: $white;
  }
}

.component-render-container {
  align-items: center;
  background-color: $porcelain;
  display: flex;
  height: 350px;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: $small-screen) {
  .details-container {
    padding: 70px 20px 20px;
  }
}
