$color-gray: #E1E1E1;
$color-black: #000;
$color-white: #FFF;
$color-blue: #003DD5;
$btn-height: 45px;
$options: 3;
$btn-width: (100 / $options) * 1%;

.options-container {
  display: flex;

  .radio-label {
    align-items: center;
    border: 3px solid $color-gray;
    color: $color-black;
    cursor: pointer;
    display: flex;
    font-weight: 500;
    height: $btn-height;
    justify-content: center;
    transition: border-color 0.5s ease, color 0.8s ease, font-weight 0.5s ease;
    width: $btn-width;

    .option {
      display: none;
    }

    &:first-child {
      border-radius: 5px 0 0 5px;
    }

    &:last-child {
      border-radius: 0 5px 5px 0;
    }

    &:only-child {
      border-radius: 5px;
    }

    &.disabled {
      color: $color-gray;
      font-weight: 600;
    }

    &.active {
      border-color: $color-blue;
      color: $color-blue;
      font-weight: 600;
    }
  }
}
