@import '~wolox-equalizer/equalizer.scss';

.explanation {
  font-size: 18px;
  margin: 40px auto;
}

.container {
  align-items: center;
  background-color: #8DC63F;
  display: flex;
  height: 470px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1080px;
  width: 100%;
}
