@import '../scss/variables/_sizes';

.progress {
  #{--percentageBar}: 30%;
  #{--progressHeight}: 30px;
  #{--progressWidth}: 200px;
  #{--containerColor}: #aed0da;
  #{--colorBar}: #2a93d5;
  #{--percentageCircle}: 200px;
  #{--rotation}: 360deg;
  #{--size}: 100px;
}

.item {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* BAR */
.progress-container {
  width: var(--progressWidth);
  background-color: var(--containerColor);
  height: var(--progressHeight);
  margin: 50px;

  display: flex;
  align-items: center;
  border-radius: 20px;
}

.progress-bar {
  width: var(--percentageBar);

  background: var(--colorBar);
  height: var(--progressHeight);
  transition: width 0.6s ease;
  border-radius: 20px;
}

/* CIRCLE */
.radial-progress {
  width: var(--size);
  height: var(--size);
  margin: 40px;
}

.circle {
  width: var(--size);
  height: var(--size);

  background-color: var(--containerColor);
  border-radius: 50%;
}

#percent {
  position: absolute;
  width: 100%;
  color: var(--colorBar);
  font-weight: 700;
  letter-spacing: 2px;
  margin-left: 130px;
  margin-top: 30px;
  z-index: 1;
  font-size: $text-big;
}

#percentCircle {
  position: absolute;
  color: var(--colorBar);
  font-weight: 700;
  letter-spacing: 2px;
  margin-left: 30px;
  margin-top: 40px;
  z-index: 1;
  font-size: $text-big;
  mix-blend-mode: multiply;
}

.mask {
  width: var(--size);
  height: var(--size);

  background-color: var(--colorBar);
  border-radius: 50%;

  position: absolute;
  clip: rect(0px, calc(var(--percentageCircle) * 2), var(--size), 0px);

  transition: 2s transform ease;
  transform: rotate(var(--rotation));
}
