@import 'variables/sizes';

[v-cloak] {
  display: none;
}

.center {
  background-color: $translucent-white;
  height: 100%;
  left: 20%;
  position: absolute;
  text-align: center;
  width: 60%;
}

h1 {
  color: $wolox-green;
}

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: $porcelain;
}

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.content {
  margin-left: $sidebar-width;
  max-width: 100%;
  overflow: auto;
  width: 1000px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-top: 14px;
  padding: 14px;
}

@media screen and (min-width: 1600px) {
  .content {
    margin: 0 auto;
  }
}

@media screen and (max-width: 720px) {
  .content {
    margin-left: 0;
  }
}
