@import 'variables/sizes';

[v-cloak] {
  display: none;
}

.center {
  background-color: $translucent-white;
  height: 100%;
  left: 20%;
  position: absolute;
  text-align: center;
  width: 60%;
}

h1 {
  color: $wolox-green;
}

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: $porcelain;
}

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  width: 100%;
}
