
$wolox-green: #8DC63F;

$black-semi-transparent: rgba(255, 255, 255, 0.2);

$white: #FFF;
$black: #000;

$light-grey: #F4F8F9;
$grey: #F0F0F0;
$grey-2: #DDD;
$grey-3: #949B9D;

$porcelain: #EDF2F0;
$mine-shaft: #333;
$sidebar-blue: #002363;
$science-blue: #0151E2;
$catskill-white: rgba(233,239,244,0.48);
$limed-spruce: #323C47;
